* {
    foreground:           #ebdbb2;
    selected-foreground:  #ebdbb2;
    
    background:           #282828a0; 
    background-solid:     #282828ff; 
    selected-background:  #0000007d;

    red:                  rgba ( 220, 50, 47, 100 % );
    blue:                 rgba ( 38, 139, 210, 100 % );
}
